<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="stylesheet" href="/css/carrinho.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Carrinho - OHMBUCHA</title>
</head>

<body>
  <%- include('partials/header') %>

    <section>
      <div class="col-25">
        <div class="container">
          <h2>
            Carrinho
            <span class="price">
              <i class="fa fa-shopping-cart"></i>
              <b><%= carrinho.quantidadeTotal %></b>
            </span>
            <br />
          </h2>
          <br />
          <% for (let product of carrinho.items) { %>
            <p>
              <img src="<%= product.image %>" style="height: 50px" /><br />
              <%= product.name %>
          
              <span class="price">
                <%= product.quantidade %> x R$ <%= product.price %>,00
              </span>
            </p>
            <br />

          <% } %>
              <h2>
                <b>Total</b>
                <span class="price" style="color: #fff">
                  <b> R$ <%= carrinho.total %>,00 </b>
                </span>
              </h2>
        </div>
      </div>

      <div class="col-75">
        <div class="container">
          <% if (locals.isLogged) { %>
         <%- include('partials/pagamento-carrinho') %>
         <% } else { %> 
        <%- include('partials/login-carrinho')  %>
        <% } %>
        </div>
      </div>
    </section>
    <%- include('partials/footer') %>
    
</body>

</html>